nav {
  background-color: #090a0c;
  color: white;
  height: 100vh;
  width: 250px;


  h2 {
    background-color: #090a0c;
    text-align: center;
  }

div{

    margin-top: 150px;
    list-style: none;
    background-color: #090a0c;
    display: grid;
    align-items: center;
    text-align: center;
    
    a {
      text-decoration: none;
      color: white;
      font-size: 23px;
      background-color: #090a0c;
      padding-top: 30px;
      padding-bottom: 30px;

      
      &:hover,
      &:active {
        background-color: #f4b94a;
      }
      }
    }
}
      
  
