app-stories{
    width: 100vw;
}

.stories-container{
    .stories{
        width: 200px;
        height: 350px;
        overflow: hidden;

        margin-left: 20px;
        
        h2{
            color: white;
            text-align: center;
            font-size: 21px;
        }

        .stories-img{
            display: flex;
            justify-content: center;
       
            img{
                height: 250px;
                width: 180px;
                object-fit: cover;
                border-radius: 20px;
                
            
            }
            :hover{
                transition:all 1s ease-out;
                transform: scale(1.1);
            }
        }
    }
}